@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    font-family: 'Quicksand', sans-serif;
    color: azure;
    text-decoration: none;
}
body{
background-color: darkslateblue;
}
.avatar{
    position: absolute;
    top: 20%;
    left: 4%;
}
.navbar{
    position: relative;
    background-color: #2b2929;
    border-radius: 16px;
    padding: 7px;
}
.brand-logo{
    border-radius: 100px;
}
.brand-text{
    position: absolute;
    font-size: large;
    top: 35%;
    left: 4.5%;
}
.downloads{
    position: absolute; 
    top: 39%;
    left: 10.5%;
    font-size:medium;
}
.devices{
    position: absolute;
    top: 39%;
    left: 18.5%;
    font-size: medium; 
}
.intro{
    position: absolute;
    font-size: x-large;
    top: 40%;
    left: 30%;
}
.langs{
    position: absolute;
    font-size: large;
    top:45%;
    left: 30%;
}
.HTML{
    position: absolute;
    top: 50%;
    left: 30%;
    border-radius:10px;
}
.HTML:hover {
    z-index: 4;
    transition: 250ms;
    opacity: 1;
    transform: translateY(-10px);
}

.HTML:not(hover) {
    z-index: 1;
    transition: 250ms;
    opacity: .25;
    transform: translateY(10px);
}
.dotnet{
    position: absolute;
    top: 50%;
    left: 36%;
    border-radius:10px;
}
.dotnet:hover {
    z-index: 4;
    transition: 250ms;
    opacity: 1;
    transform: translateY(-10px);
}

.dotnet:not(hover) {
    z-index: 1;
    transition: 250ms;
    opacity: .25;
    transform: translateY(10px);
}
.cshurp{
    position: absolute;
    top: 50%;
    left: 42%;
    border-radius:10px;
}
.cshurp:hover {
    z-index: 4;
    transition: 250ms;
    opacity: 1;
    transform: translateY(-10px);
}

.cshurp:not(hover) {
    z-index: 1;
    transition: 250ms;
    opacity: .25;
    transform: translateY(10px);
}
.expo{
    content: "";
    position: absolute;
    height: 450px;
    width: 850px;
    background-color: #2b2929;
    /*border: 1px solid #7a7a7a50;*/
    border-radius: 10px;
    left: 15%;
    top: 90%;
    padding: 10px;
    box-shadow: 10px 5px 15px #00000015, 10px 8px 12px #00000015;
    overflow: hidden;
    z-index: 1;
}
.softcard{
    content: "";
    position: absolute;
    height: 250px;
    width: 250px;
    background-color: #3356ca;
    border: 1px solid white;
    border-radius: 10px;
    left: 5%;
    top: 30%;
    padding: 10px;
    box-shadow: 10px 5px 15px #00000015, 10px 8px 12px #00000015;
    overflow: hidden;
    z-index: 2;
}
.musiccard{
    content: "";
    position: absolute;
    height: 250px;
    width: 250px;
    background-color: #3368ca;
    border: 1px solid white;
    border-radius: 10px;
    left: 60%;
    top: 30%;
    padding: 10px;
    box-shadow: 10px 5px 15px #00000015, 10px 8px 12px #00000015;
    overflow: hidden;
    z-index: 2;
}
.Work{
    position: absolute;
    top: 15%;
    left: 45%;
    font-size: x-large;
}
.Soft{
        position: absolute;
        width: fit-content;
        left: 25%;
        top: 80%;
}
.Music{
    position: absolute;
    width: fit-content;
    left: 30%;
    top: 80%;
}
.card-image{
    font-size:200px;
    color: white;
}
.card-image:hover{
    font-size:200px;
    color: coral;
}