@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    font-family: 'Quicksand', sans-serif;
    color: azure;
}
body{
background-color: darkslateblue;
}
.avatar{
    position: absolute;
    top: 10%;
    left: 4%;
}
.navbar{
    background-color: #2b2929;
    border-radius: 16px;
    padding: 7px;
}
.brand-logo{
    border-radius: 100px;
}
.brand-text{
    position: absolute;
    font-size: large;
}
.downloads{
    position: absolute;
    background-color: ;
    top: 4%;
    left: 10%;
    font-size:x-large;
}