@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    font-family: 'Quicksand', sans-serif;
    color: azure;
    text-decoration: none;
}
body{
background-color: darkslateblue;
}
  ::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }
.avatar{
    position: absolute;
    top: 20%;
    left: 4%;
}
.navbar{
    position: relative;
    background-color: #2b2929;
    border-radius: 100px;
    padding: 7px;
}
.brand-logo{
    border-radius: 100px;    
}
.brand-text{
    position: absolute;
    font-size: large;
    top: 35%;
    left: 4.5%;
}
.downloads{
    position: absolute; 
    top: 39%;
    left: 10.5%;
    font-size:medium;
    color: #be6ffb;
}
.devices{
    position: absolute;
    top: 39%;
    left: 18.5%;
    font-size: medium; 
}
.devices:hover{
    color: #be6ffb;
    transition: all 150ms;
}
.devices:not(hover){
    color: azure;
    transition: all 150ms;
}
.music{
    position: absolute;
    top: 39%;
    left: 25.5%;
    font-size: medium; 
}
.music:hover{
    color: #be6ffb;
    transition: all 150ms;
}
.music:not(hover){
    color: azure;
    transition: all 150ms;
}
.downloads-box{
    content: "";
    position: absolute;
    height: 800px;
    width: 1550px;
    background-color: #2b2929;
    /*border: 1px solid #7a7a7a50;*/
    border-radius: 10px;
    left: 5%;
    top: 10%;
    padding: 10px;
    box-shadow: 10px 5px 15px #00000015, 10px 8px 12px #00000015;
    overflow: hidden;
    z-index: 1;
}
.downloads-showcase{
    content: "";
    position: absolute;
    height: 750px;
    width: 1450px;
    background-color: #454FBF;
    /*border: 1px solid #7a7a7a50;*/
    border-radius: 10px;   
    padding: 10px;
    box-shadow: 10px 5px 15px #00000015, 10px 8px 12px #00000015;
    overflow: hidden;
    z-index: 2;
}
.osbake{
    content: "";
    position: absolute;
    height: 350px;
    width: 350px;
    background-color: #23272A;
    /*border: 1px solid #7a7a7a50;*/
    border-radius: 10px;   
    padding: 10px;
    box-shadow: 10px 5px 15px #00000015, 10px 8px 12px #00000015;
    overflow: hidden;
    z-index: 3;
}
.osbake-logo{
    position: absolute;
    left : 30%; 
}
.osbake-title{
    position: absolute;
    font-size: larger;
    top: 35%;
    left: 35%;
}
.osbake-description{
    position: absolute;
    font-size: medium;
    top: 45%;
    left: 10%;
}
.osbake-download-btn{
position: absolute;
font-size: larger;
top: 75%;
left: 30%;
background-color: #5865F2;
border-radius: 50px;
text-align: center;
border: #454FBF 1px solid;
padding: 15px;
text-decoration: none;
}
.addplayersmc{
    left: 30%;
    content: "";
    position: absolute;
    height: 350px;
    width: 350px;
    background-color: #23272A;
    /*border: 1px solid #7a7a7a50;*/
    border-radius: 10px;   
    padding: 10px;
    box-shadow: 10px 5px 15px #00000015, 10px 8px 12px #00000015;
    overflow: hidden;
    z-index: 3;
}
.aps-logo{
    position: absolute;
    left : 30%;
}
.aps-title{
    position: absolute;
    font-size: larger;
    top: 40%;
    left: 35%;
}
.aps-description{
    position: absolute;
    font-size: medium;
    top: 50%;
    left: 20%;
}
.aps-download-btn{
position: absolute;
font-size: larger;
top: 75%;
left: 30%;
background-color: #5865F2;
border-radius: 50px;
text-align: center;
border: #454FBF 1px solid;
padding: 15px;
text-decoration: none;
}
.awnprank{
    left: 60%;
    content: "";
    position: absolute;
    height: 350px;
    width: 350px;
    background-color: #23272A;
    /*border: 1px solid #7a7a7a50;*/
    border-radius: 10px;   
    padding: 10px;
    box-shadow: 10px 5px 15px #00000015, 10px 8px 12px #00000015;
    overflow: hidden;
    z-index: 3;
}
.awn-logo{
    position: absolute;
    left : 30%;
}
.awn-title{
    position: absolute;
    font-size: larger;
    top: 40%;
    left: 22%;
}
.awn-description{
    position: absolute;
    font-size: medium;
    top: 50%;
    left: 30%;
}
.awn-download-btn{
position: absolute;
font-size: larger;
top: 75%;
left: 30%;
background-color: #5865F2;
border-radius: 50px;
text-align: center;
border: #454FBF 1px solid;
padding: 15px;
text-decoration: none;
}
.webview2browser{
    top: 50%;
    content: "";
    position: absolute;
    height: 350px;
    width: 350px;
    background-color: #23272A;
    /*border: 1px solid #7a7a7a50;*/
    border-radius: 10px;   
    padding: 10px;
    box-shadow: 10px 5px 15px #00000015, 10px 8px 12px #00000015;
    overflow: hidden;
    z-index: 3;
}
.w2b-logo{
    position: absolute;
    left : 30%;
}
.w2b-title{
    position: absolute;
    font-size: larger;
    top: 40%;
    left: 22%;
}
.w2b-description{
    position: absolute;
    font-size: medium;
    top: 50%;
    left: 5%;
}
.w2b-download-btn{
position: absolute;
font-size: larger;
top: 75%;
left: 30%;
background-color: #5865F2;
border-radius: 50px;
text-align: center;
border: #454FBF 1px solid;
padding: 15px;
text-decoration: none;
}
