@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    font-family: 'Quicksand', sans-serif;
    color: azure;
    text-decoration: none;
}
body{
background-color: darkslateblue;
}
  ::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }
.avatar{
    position: absolute;
    top: 20%;
    left: 4%;
}
.navbar{
    position: relative;
    background-color: #2b2929;
    border-radius: 100px;
    padding: 7px;
}
.brand-logo{
    border-radius: 100px;    
}
.brand-text{
    position: absolute;
    font-size: large;
    top: 35%;
    left: 4.5%;
}
.downloads{
    position: absolute; 
    top: 39%;
    left: 10.5%;
    font-size:medium;
    color: #be6ffb;
}
.devices{
    position: absolute;
    top: 39%;
    left: 18.5%;
    font-size: medium; 
}
.devices:hover{
    color: #be6ffb;
    transition: all 150ms;
}
.devices:not(hover){
    color: azure;
    transition: all 150ms;
}
.music{
    position: absolute;
    top: 39%;
    left: 25.5%;
    font-size: medium; 
}
.music:hover{
    color: #be6ffb;
    transition: all 150ms;
}
.music:not(hover){
    color: azure;
    transition: all 150ms;
}