@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
*{
	color: black;
	font-family: 'Nunito', sans-serif;
}
body{
	margin: 0%;
	padding: 0%;
	background-image: url(./img/bg.png);
	background-repeat:no-repeat ;
}
.brand-logo{
	position: absolute;
	top:3%;
	left: 45%;
}